.removeButton {
  position: relative;
  left: 15px;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 10;
}

.removeButton:hover {
    background: red;
    color: white;
    border: none;
}