/* print styles — Owner: Tina Carter */

/*****************************************************************************
To ADD global print styles to a page (with .css file), import the 
print.css file in the page's .css file like this:

@import '../../assets/print.css';

> Then use the formatting tags/labels defined in print.css to format 
  the recipe for printing.
> All local formatting will override global formatting, so please DO NOT 
  have local @media print styles
> Specific path statement may vary, if your file is not in src/components/ 
  or src/context/ or src/pages/ folders, adjust the path accordingly.

To ADD global print to a page (.jsx file) that DOES NOT have a .css file,
import the print.css file in the .jsx file like this:
 
<header>
    <link rel="stylesheet" href="../assets/print.css"></link>
</header>

> BEFORE the return() statement, and then use the formatting tags/labels 
  defined in print.css to format the recipe for printing.
*****************************************************************************/
.downloadButton{
    display: visible;
}
@media print {
    .downloadButton{
        visibility: hidden !important;
    }
}

.navbar {
    display: visible;
}
@media print {
    .navbar{
        visibility: hidden !important;
    }
}

/*
.h1 {
    font-size: 24pt;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    align-content: right;
    break-after: .25in;
}
@media print {
  /* All your print styles go here 
  @page {
    margin: 1in;
    orientation: landscape;
  }
  #header {
    display: none !important;
  }
  #h1 { /*Recipe TITLE should be given <h1> tag
    font-size: 24pt;
    font-weight: bold;
    align-content: right;
    break-after: .25in;
  }
  #h2 { /*Recipe AUTHOR should be given <h2> tag
    font-size: 18pt;
    align-content: right;
    break-after: .5in;
  }
  #ingredients {
    font-size: 14pt;
    break-after: .25in;
    list-style-type: none;
  }
  #footer,
  #nav {
    display: none !important;
  }
  #button {
    display: none !important;
  }
}


/*
.noprint{

}
*/

